<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/icon/fontawesome-free-6.4.0-web/css/fontawesome.css" rel="stylesheet">
  <link href="/icon/fontawesome-free-6.4.0-web/css/brands.css" rel="stylesheet">
  <link href="/icon/fontawesome-free-6.4.0-web/css/solid.css" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    input[type="text"], input[type="password"] {
      -webkit-autocomplete: off;
      -moz-autocomplete: off;
      autocomplete: off;
    }
  </style>
  <title>Home</title>
</head>
<body>
<div>
  <div class="sticky-top" th:insert="Header"></div>
  <div th:insert="${page}"></div>
  <div th:insert="Footer"></div>
</div>
</body>
<script  src="/bootstrap/bootstrap.min.js"></script>
<script src="/js/handleC.js"></script>
</html>