<style>
  .wrapper-header{
    width: 100%;
    background: #fff;
    z-index: 9999999;
  }
</style>
<div class="wrapper-header">
  <div class="container">
    <div class="row sticky-top header">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hoa Xuân Food</a>
          <button class="navbar-toggler icon-bar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
              <a class="nav-link" href="/product">Sản Phẩm</a>
              <a class="nav-link" href="/product">Về Chúng Tôi</a>
              <a class="nav-link" href="/product">Blog</a>
              <a class="nav-link" href="/cart">Giỏ Hàng</a>
              <a class="nav-link" href="/admin">Admin</a>
            </div>
          </div>
          <button class="cart">
            <i class="click-cart fa-solid fa-cart-shopping"></i>
            <div class="quanty">0</div>
            <div class="show-cart ml ">
              <div class="total">Giỏ hàng của tôi</div>
              <div class="list-product">
              </div>
              <div class="total-price">
                <div class="price-item">
                  Tạm Tính:
                  <span class="sum-price">1000</span>
                </div>
                <div class="btn-pay">
                  <a href="/cart"><input class="btn" type="button" value="Xem Giỏ Hàng"></a>
                  <a href="/checkout"><input class="btn bg-green"  type="button" value="Thanh Toán"></a>
                </div>
              </div>
            </div>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>