<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <div class="container">
            <div class="row intro">
                <div class="col-12 d-flex justify-content-center "> <h1>Giới Thiệu</h1> </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 text-center">
                            <img class="lable" src="/img/giao-hang.png" alt="">
                            <h4 class="title-intro">Giao hàng nhanh trong vòng 30p-1h</h4>
                            <p class="content">
                                Với phương châm phục vụ "chỉ cần khách hàng thèm là ngay lập tức phải có".
                                Team Bếp nỗ lực hết sức để giao hàng nhanh đến quý khách hàng dưới 30p với
                                những đơn hàng dưới 5km và 1-2h với các đơn hàng nội thành khác
                            </p>
                        </div>
                        <div class="col-lg-12 col-sm-6 text-center">
                            <img class="lable" src="/img/menu.webp" alt="">
                            <h4 class="title-intro">Menu đa dạng, phong phú</h4>
                            <p class="content">
                                Bếp của Mẹ có hơn 100 món ăn phục vụ nhu cầu ăn bữa chính,
                                bữa phụ, liên hoan nhẹ..của bạn và gia đình
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 img-intro">
                    <img src="/img/home.png">
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 text-center">
                            <img class="lable" src="/img/baove.webp" alt="">
                            <h4 class="title-intro">Sản phẩm tươi mới, nguyên liệu rõ ràng xuất sứ nguồn gốc</h4>
                            <p class="content">
                                Bếp của Mẹ cực kỳ quan tâm đến việc bạn sẽ ăn gì và bạn cảm thấy hài lòng ra sao ?
                                Nên nguyên liệu và sản phẩm Bếp lựa chọn sẽ luôn luôn theo tiêu chí :
                                tươi mới, nguyên liệu tự nhiên, cam kết chất lượng
                            </p>
                        </div>
                        <div class="col-lg-12 col-sm-6 text-center">
                            <img class="lable" src="/img/phone.webp" alt="">
                            <h4 class="title-intro">Lắng nghe khách hàng</h4>
                            <p class="content">
                                Để hoàn thiện dịch vụ và chất lượng ngày càng chuyên nghiệp hơn,
                                Bếp của Mẹ rất mong nhận được những ý kiến đóng góp, feedback của
                                quý khách hàng qua hotline : 08233.08333
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="Product"></div>
            <div class="row about">
                <div class="title col-12 d-flex justify-content-center"><h1>Thông tin về chúng tôi</h1></div>
                <div class="col-md-4 col-12">
                    <div class="info-item">
                        <img src="/img/info-1.webp">
                        <div class="info">
                            <p>Thu Hằng
                                Trưởng nhóm bán hàng
                                Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <img src="/img/info-1.webp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <p>Thu Hằng
                                    Trưởng nhóm bán hàng
                                    Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                    hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <img src="/img/info-1.webp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <p>Thu Hằng
                                    Trưởng nhóm bán hàng
                                    Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                    hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>