<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/icon/fontawesome-free-6.4.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="/icon/fontawesome-free-6.4.0-web/css/brands.css" rel="stylesheet">
    <link href="/icon/fontawesome-free-6.4.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script src="/fancybox/fancybox.umd.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link
            rel="stylesheet"
            href="/fancybox/fancybox.css"
    />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row sticky-top header">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler icon-bar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                      <a class="nav-link" href="#">Features</a>
                      <a class="nav-link" href="#">Pricing</a>
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </div>
                  </div>
                    <button class="cart">
                        <i class="click-cart fa-solid fa-cart-shopping"></i>
                        <div class="quanty">0</div>
                        <div class="show-cart ">
                            <div class="total">Giỏ hàng của tôi</div>
                            <div class="list-product">
                            </div>
                            <div class="total-price">
                                <div class="price-item">
                                    Tạm Tính:
                                    <span class="sum-price">1000</span>
                                </div>
                                <div class="btn-pay">
                                    <input class="btn" type="button" value="Xem Giỏ Hàng">
                                    <input class="btn bg-green"  type="button" value="Thanh Toán">
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </nav>
        </div>
        <div class="row intro">
            <div class="col-12 d-flex justify-content-center "> <h1>Giới Thiệu</h1> </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img class="lable" src="/img/giao-hang.png" alt="">
                        <h4 class="title-intro">Giao hàng nhanh trong vòng 30p-1h</h4>
                        <p class="content">
                            Với phương châm phục vụ "chỉ cần khách hàng thèm là ngay lập tức phải có".
                            Team Bếp nỗ lực hết sức để giao hàng nhanh đến quý khách hàng dưới 30p với
                            những đơn hàng dưới 5km và 1-2h với các đơn hàng nội thành khác
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img class="lable" src="/img/menu.webp" alt="">
                        <h4 class="title-intro">Menu đa dạng, phong phú</h4>
                        <p class="content">
                            Bếp của Mẹ có hơn 100 món ăn phục vụ nhu cầu ăn bữa chính,
                            bữa phụ, liên hoan nhẹ..của bạn và gia đình
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 img-intro">
                <img src="/img/home.png">
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img class="lable" src="/img/baove.webp" alt="">
                        <h4 class="title-intro">Sản phẩm tươi mới, nguyên liệu rõ ràng xuất sứ nguồn gốc</h4>
                        <p class="content">
                            Bếp của Mẹ cực kỳ quan tâm đến việc bạn sẽ ăn gì và bạn cảm thấy hài lòng ra sao ?
                            Nên nguyên liệu và sản phẩm Bếp lựa chọn sẽ luôn luôn theo tiêu chí :
                            tươi mới, nguyên liệu tự nhiên, cam kết chất lượng
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img class="lable" src="/img/phone.webp" alt="">
                        <h4 class="title-intro">Lắng nghe khách hàng</h4>
                        <p class="content">
                            Để hoàn thiện dịch vụ và chất lượng ngày càng chuyên nghiệp hơn,
                            Bếp của Mẹ rất mong nhận được những ý kiến đóng góp, feedback của
                            quý khách hàng qua hotline : 08233.08333
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row products">
            <div class="title col-12 d-flex justify-content-center"><h1>Sản Phẩm</h1> </div>
            <div class="row type justify-content-center">
                <div class="col-md-2 text-center type-item">
                    <button>Lươn chiên</button>
                    <span class="line"></span>
                </div>
                <div class="col-md-2 text-center type-item">
                    <button>Lươn xào</button>
                    <span class="line"></span>
                </div>
                <div class="col-md-2 text-center type-item">
                    <button>Lươn cuộn</button>
                    <span class="line"></span>
                </div>
                <div class="col-md-2 text-center type-item">
                    <button>Lươn ướp</button>
                    <span class="line"></span>
                </div>
            </div>
            <div class="row my-products ">
                <div class="col-lg-3 col-6 col-md-4" th:each="product : ${listProduct}">
                    <div class="product" >
                        <img src="/img/product.jpg">
                        <div class="info-product">
                            <h5 class="name" th:text="${product.name}"></h5>
                            <p class="price" th:text="${product.price}"></p>
                            <div class="action">
                                <button class="add-cart"><i class="fa-solid fa-cart-plus"></i></button>
                                <button class="btn btn-product">Mua Ngay</button>
                            </div>
                        </div>
                        <span class="id" th:data-id="${product.id}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about">
            <div class="title col-12 d-flex justify-content-center"><h1>Thông tin về chúng tôi</h1></div>
            <div class="col-md-4 col-12">
                    <div class="info-item">
                        <img src="/img/info-1.webp">
                        <div class="info">
                            <p>Thu Hằng
                                Trưởng nhóm bán hàng
                                Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <img src="/img/info-1.webp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <p>Thu Hằng
                                    Trưởng nhóm bán hàng
                                    Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                    hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <img src="/img/info-1.webp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <p>Thu Hằng
                                    Trưởng nhóm bán hàng
                                    Team bán hàng Bếp của Mẹ xin hứa sẽ luôn nỗ lực hết sức mình để phục vụ quý khách
                                    hàng tốt nhất. Chỉ cần nhấc máy và call, mọi việc còn lại team em lo ạ ^^
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    <div class="footer">
        <div class="container-xxl">
            <div class="row pt-6 pb-5">
                <div class="col-12 pb-5 ">
                    <div class="row justify-content-center ">
                        <div class="col-12 d-flex justify-content-center">
                            <img class="img-footer-logo" src="/img/ft_logo.webp" alt="">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3 d-flex justify-content-around mt-3 profile">
                            <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-google-plus-g"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="row info">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h2 class="title">LIÊN HỆ</h2>
                            <p>
                                <span class="icon">
                                    <i class="fa-solid fa-location-pin"></i>
                                </span>
                                Số 32 Nguyễn Chí Thanh
                            </p>
                            <p>
                                <span class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                0368117964
                            </p>
                            <p>
                                <span class="icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                petdung1702@fpt.edu.vn
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h2 class="title">HỖ TRỢ KHÁCH HÀNG</h2>
                            <p>
                                <a href="#">Những điều cần lưu ý khi mua hàng tại Bếp của Mẹ</a>
                            </p>
                            <p>
                                <a href="#">HƯỚNG DẪN MUA HÀNG</a>
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h2 class="title">LIÊN KẾT NHANH</h2>
                            <p>
                                <a href="#">Trang chủ</a>
                            </p>
                            <p>
                                <a href="#">Về chúng tôi</a>
                            </p>
                            <p>
                                <a href="#">Sản phẩm</a>
                            </p>
                            <p>
                                <a href="#">Blog</a>
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h2 class="title">GALLERY</h2>
                            <div class="fancybox row g-1">
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/product.jpg" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/product.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/info-1.webp" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/info-1.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/info-1.webp" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/info-1.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/info-1.webp" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/info-1.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/info-1.webp" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/info-1.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="wrap-img-gallery">
                                        <a href="/img/info-1.webp" data-fancybox="images" data-caption="Gallery A #2">
                                            <img class="img-gallery" src="/img/info-1.webp" />
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script  src="/bootstrap/bootstrap.min.js"></script>
<script src="/js/handleC.js"></script>
</html>