<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/info.css">
    <title>Home</title>
</head>
<body>
    <div class="container-xxl">
        <div class="row info-product">
            <div class="col-12"><h1 th:text="${product.name}"></h1></div>
            <div class="col-md-5 col-12 d-flex justify-content-center">
               <div class="img-info">
                   <img id="img" th:src="@{'data:image/png;base64,' + ${product.imgBase64}}" alt=""/>
               </div>
            </div>
            <div class="col-md-7 col-12">
               <div class="info">
                   <h5 id="name" class="name" th:text="${product.name}"></h5>
                   <p  id="price" th:data-price="${product.price}" class="price" th:text="'Giá: '+${product.price}"></p>
                   <p class="type" th:text="'Loại: Thực Phẩm'"></p>
                   <p class="description" th:text="${product.productDescription}"></p>
                    <div class="quanty">
                        <button class="icon-plus icon" onclick="plus()">
                            <i class="fa-solid fa-plus">

                            </i></button>
                        <input type="number" class="text-count" value="1" min="1" max="10" step="0.5"></input>
                        <button class="icon-minus icon" onclick="minus()">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                   <div class="button">
                       <button id="add" th:data-id="${product.id}" class="btn" >Thêm Vào Giỏ Hàng</button>
                       <a href="/checkout"><button class="btn bg-green">Mua Hàng</button></a>
                   </div>
               </div>
            </div>
        </div>
        <div th:insert="Product"></div>
    </div>
</body>
<script  src="/js/infoProduct.js"></script>
</html>