<link rel="stylesheet" href="/css/postproduct.css">
<div class="container">
  <div class="row">
    <h2 class="p-3 d-flex justify-content-center">Đăng Sản Phẩm Mới Của Bạn</h2>
  </div>
  <form id="product-form" class="row">
      <div class="col-8">
          <div>
              <label>Tên Sản Phẩm</label> <br>
              <input class="input" type="text" placeholder="Tên sản phẩm" name="name">
              <span></span>
          </div>
          <div>
              <label>Giá Sản Phẩm</label> <br>
              <input class="input" type="number" min="0" placeholder="Giá sản phẩm" name="price">
              <span></span>
          </div>
          <div>
              <label>Mô tả</label> <br>
              <textarea class="input" placeholder="Mô tả" name="productDescription"></textarea>
              <span></span>
          </div>
          <div>
              <label>Số lượng </label> <br>
              <input class="input" type="number" min="0" placeholder="Số lượng" name="inventoryCount">
              <span></span>
          </div>
      </div>
      <div class="col-4" style="position: relative">
            <button type="button" class="btn btn-dark">
                <label for="file-input">Ảnh bìa sản phẩm</label>
            </button>
            <input placeholder="ảnh bìa" hidden class="input" type="file" name="image" id="file-input">
            <span></span>
            <div class="show-img d-flex justify-content-center align-content-center">
                <img src="" alt="Chưa có ảnh nào" id="preview-image">
            </div>
            <script>
                const fileInput = document.getElementById('file-input');
                const previewImage = document.getElementById('preview-image');
                fileInput.addEventListener('change', function() {
                    const file = fileInput.files[0];
                    const reader = new FileReader();

                    reader.addEventListener('load', function() {
                        previewImage.src = reader.result;
                    }, false);

                    if (file) {
                        reader.readAsDataURL(file);
                    }
                });
            </script>
          <button type="submit" class="btn btn-danger" style="position: absolute; bottom: 10px; left: 10px">
              Đăng <i class="fa-solid fa-arrow-up"></i>
          </button>
      </div>
    </form>
  </div>
</div>
<script src="/js/postProduct.js"></script>