<div class="container">
  <div class="products">
    <div class="title col-12 d-flex justify-content-center mb-5"><h1>Sản Phẩm</h1> </div>
<!--    <div class="row type justify-content-center">-->
<!--      <div class="col-md-2 text-center type-item">-->
<!--        <button>Lươn chiên</button>-->
<!--        <span class="line"></span>-->
<!--      </div>-->
<!--      <div class="col-md-2 text-center type-item">-->
<!--        <button>Lươn xào</button>-->
<!--        <span class="line"></span>-->
<!--      </div>-->
<!--      <div class="col-md-2 text-center type-item">-->
<!--        <button>Lươn cuộn</button>-->
<!--        <span class="line"></span>-->
<!--      </div>-->
<!--      <div class="col-md-2 text-center type-item">-->
<!--        <button>Lươn ướp</button>-->
<!--        <span class="line"></span>-->
<!--      </div>-->
<!--    </div>-->
    <div class="row my-products ">
      <div class="col-6 col-lg-3" th:each="product : ${listProduct}">
        <div class="product" >
          <img class="img-base64" th:src="@{'data:image/png;base64,' + ${product.imgBase64}}"/>
          <div class="info-product">
            <div class="name" th:text="${product.name}"></div>
            <div class="price" ><span id="price" th:text="${product.price}"></span>00đ</div>
            <div class="action">
              <button class="add-cart"><i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ hàng</button>
            </div>
          </div>
          <span class="id" th:data-id="${product.id}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
