<link rel="stylesheet" href="/css/order.css">
<div class="container-xxl">
  <div class="row order">
    <div class="col-12 d-flex justify-content-center m-4"><h1>Đơn Hàng Của Bạn</h1></div>
    <div class="col-12 d-flex justify-content-center">
      <a href="/admin/pay"><h5 class="m-3  type-pay">Chờ thanh toán</h5></a>
      <a href="/admin/unpay"><h5 class="m-3 action type-pay">Đã thanh toán</h5></a>
    </div>
    <div class="col-12">
      <table>
        <tr>
          <th>#</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Số điện thoại </th>
          <th>Địa chỉ </th>
          <th>Ngày đặt hàng </th>
          <th>Trạng Thái </th>
        </tr>
        <div th:each="order,index : ${listOrder}">
          <tr th:id="${index.index +1 }">
            <td th:text="${index.index +1 }"></td>
            <td th:text="${order.invoice.nameCustom}"></td>
            <td th:text="${order.invoice.email}"></td>
            <td th:text="${order.invoice.numberPhone}"></td>
            <td th:text="${order.invoice.address}"></td>
            <td th:text="${order.invoice.createdAt}"></td>
            <td >
              <div class="isPay">
                <button th:if="${order.invoice.type == 1}"
                        th:data-id="${order.invoice.id}"
                        class="payment-button paid"
                        th:data-remove="${index.index +1 }"
                        onclick="togglePaymentStatus(this)">
                        Đã Thanh Toán
                </button>
                <button
                          th:if="${order.invoice.type == 0}"
                          th:data-id="${order.invoice.id}"
                          class="payment-button unpaid"
                          th:data-remove="${index.index +1 }"
                          onclick="togglePaymentStatus(this)">
                          Chưa thanh toán
                </button>
              </div>
              <style>
                .payment-button {
                  font-size: 16px;
                  padding: 8px 16px;
                  border: none;
                  border-radius: 4px;
                  color: #fff;
                  cursor: pointer;
                }

                .unpaid {
                  background-color: #f44336; /* red */
                }

                .paid {
                  background-color: #4CAF50; /* green */
                }
              </style>
            </td>
          </tr>
          <tr>
            <th colspan="7">
              <div style="font-size: 16px; color: red" class="p-3">
                <span th:if="${order.invoice.typePay ==0}">Ship cod</span>
                <span th:if="${order.invoice.typePay ==1}">Chuyển khoản ngân hàng</span>
              </div>
              <div class="product" th:each="product : ${order.listProductOutput}">
                <img th:src="@{'data:image/png;base64,' + ${product[0].imgBase64}}" alt="chưa có ảnh"/>
                <div class="info-product_order">
                  <p th:text="${product[0].name}"></p>
                  <div style="font-weight: 400;">Đơn giá: <span th:text="${product[0].price}"></span></div>
                  <div style="font-weight: 400;">Số lượng: <span th:text="${product[1]}"></span></div>
                </div>
              </div>
              <div style="font-size: 22px;">Tổng tiền: <span style="color:red;" th:text="${order.invoice.sumPrice}"></span></div>
            </th>
          </tr>

        </div>

      </table>
    </div>
  </div>
</div>
<script src="/js/order.js"></script>
