.input{
  width: 100%;
  margin: 12px 0;
  border: 1px solid #05b638 ;
  border-radius: 12px;
  padding: 4px;
  outline: none;
}
textarea{
  min-height: 300px;
  resize: none;
}
#preview-image{
  display: block;
  padding: 16px 0;

  width: 80%;
}